body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-family: monospace;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30rem);
  justify-content: center;
  margin: 0 auto;
}

lable {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

input {
  border: none;
  background-color: rgb(245, 245, 245);
  height: 45px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 10px;
}

input::placeholder {
  font-family: monospace;
  font-size: 0.75rem;
  font-style: italic;
}

button {
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: greenyellow;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: rgb(112, 186, 0);
}

#tableContainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

table {
  border: 1px solid violet;
}

td {
  border: 1px solid violet;
}